

body{
    margin:0;
    padding:0;
    /* background-color: aliceblue; */
    background-image: url('subtle-prism.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 1px;
    border-radius: 10px;
    padding: 10px;
    width:800px;
    margin-top:50px;
}

.button__container,
.info__container{
    display: flex;
    align-items: center;
    
}



.button__container button{
    margin:  0 5px;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 10px;
    background-color: transparent;
}

/* List Header */

.list__header{
    width:100%;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0,0,0,0.5) 1px solid;
}

.list__item{
    width: 100%;
    margin: 10px 0 ;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
}

.tick{
    border-radius: 50%;
    padding: 10px;
}

.edit{
    border: 1.5px solid rgb(141,181,145);
    color: rgb(141,181,145);
    background-color: transparent;
    text-transform: uppercase;
}